.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  color: #545454;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    line-height: 16.94px;
  }
}