.profile__button-name {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #FFF;
  background-image: url(../../../images/small-button.svg);
  margin-left: 20px;
  margin-bottom: 22px;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1059px) {
  .profile__button-name {
    margin-left: 10px;
    margin-bottom: 23px;
    position: absolute;
    left: 100%;
  }
 }

@media screen and (max-width: 390px) {
  .profile__button-name {
  	width: 18px;
  	height: 18px;
  }
}

.profile__button-name:hover {
  opacity: 60%;
}